* {
	margin: 0;
	box-sizing: border-box;
}

.box {
	max-width: 1000px;
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	margin: auto;

}

.item {
	width: calc(100% / 3 - 20px);
	margin: 10px;
	height: 240px;
	display: inline-block;
	background-color: lightgreen;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.big {
	width: calc(100% / 2 - 20px);
}
.item>img {
	width: 100%;
	object-fit: cover;
	transition: 0.09s

}
@media (hover:hover) {
	.item:hover img {
		transform: scale(1.2)
	}
}