.history{
	background-color: #DEB887;
	height: 750px;
	width: 300px;
	padding: 75px 20px;
	margin: 10px;
	
	

}


.his {
	
	display: flex;
	justify-content: space-between;
	align-items: center;

}

img{
	height: auto;
	width: 100%;
	margin: 30px;
	display: block;
	margin-left: 0;
	
}

